html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.movie-image {
    width: 10vw;
    height: auto;
    aspect-ratio: 2 / 3;
    background-color: gray;
}

.actor-image {
    width: 10vw;
    height: auto;
    aspect-ratio: 2 / 3;
    background-color: gray;
}

.image-cell {
    width: 1%;
    white-space: nowrap;
}

.title-column {
    width: 100%;
}

.table td {
    vertical-align: middle;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

    .button-group > a {
        margin-bottom: 5px;
        width: 100%;
    }